body{
    background-color: #222828;
    padding: 3%;
}

.inicio{
    color: white;
    text-align: center;
    margin-bottom: 1%;
   

}

.iniciop{
    color: white;
    font-style: normal;

}

.menu{
    width: 5%;
    position: relative;
    left: 92%;
   
   
}

.detalles{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(7, 1, 1);
    padding: 5%;
}



.x{
    width: 4%;
    margin-left: 90%;
}

#box{
    background-color: rgb(7, 1, 1);
    padding: 5%;
    width: 100%;
}

.p3{
    font-style: normal;
    color: aliceblue;
}

.p2{
    font-style: normal;
    color: white;
    text-align: left;
}

.img-p{
    width: 15%;
    height: 15%;
   
   
}

.titulo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-h1{
    margin-top: 1.5px;
}

.linea-prin{
    width: 20%;
    height: 1px;
    margin-bottom: 1px;
    border-style: none;
    background: rgb(167,127,194);
background: linear-gradient(90deg, rgba(167,127,194,1) 0%, rgba(64,154,185,1) 13%, rgba(82,152,109,1) 24%, rgba(29,253,32,1) 29%, rgba(58,152,190,1) 55%, rgba(85,174,64,1) 69%, rgba(213,93,93,1) 84%, rgba(129,112,89,1) 100%, rgba(59,139,212,0.9836309523809523) 100%, rgba(125,154,181,1) 100%, rgba(59,139,212,1) 109%, rgba(59,139,212,0.9836309523809523) 127%, rgba(59,139,212,0.9836309523809523) 131%, rgba(59,139,212,0.9836309523809523) 133%, rgba(59,139,212,0.9836309523809523) 164%, rgba(59,139,212,1) 196%, rgba(59,139,212,0.9836309523809523) 200%);

}

.img-primera{
    display: flex;
    justify-content: flex-end;
   
}

.principio{
    background-color: #C3CACA;
    padding: 2%;
}
   
.img1{
    width: 60%;
    height: 30%;
    border-radius: 15%;
}

.img2{
    width: 60%;
    height: 50%;
    border-radius: 45%;
}

.img3{
    width: 60%;
    height: 50%;
    border-radius: 40%;
}

.img4{
    width: 60%;
    height: 40%;
    border-radius: 40%;
}

.caja1{
    text-align: center;
}

.tipo1 {
    width: 55%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
}

.tipo2{
    width: 35%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
}

.tipo3{
    width: 69%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
}

.tipo4{
    width: 39%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
}

.tipo5{
    width: 25%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
}

.tipo6{
    width: 48%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
}

.img-principio2{
    width: 7.1%;
    height: 7.1%;
}

.final{
    background-color: #0C0C0C;
    padding: 5%;
   
}

.final-img1{
    width: 5%;
    height: 5%;
    float: right;
   
   
}
.img-final{
    display: flex;
    justify-content: center;
}

.h1{
    text-align: center;
    color: white;
}

.p-h1{
    color: white;
}

.tipo3{
    text-align: center;
    color: white;
    font-style: italic;
    margin-bottom: 6%;
}

.text-final{
    display: flex;
    justify-content: center;
    align-items: center;
}

summary{
    list-style: none;
    text-decoration: underline;
    color: purple;
    margin-bottom: 10%;
}

.ultima-caja{
   background-color: #ccdfdf;
   padding: 1.8%;
   border-radius: 5%;
   
}

.ultima-img2{
    width: 6%;
   
}

#img-ultima2{
    display: flex;
    justify-content: flex-end;
   align-items: flex-end;
}

.menu{
    width: 10%;
    display: flex;
    justify-content: flex-end;
   
   
}



.x{
    width: 4%;
}

#box{
    background-color: rgb(7, 1, 1);
    padding: 2%;
    width: 95%;
    text-align: center;
}


.primera-box{
 text-decoration: underline;

}

.sujerencia{
    display: flex;

}

@media screen and (min-width:600px){
    body{
        background: rgb(167,127,194);
        background: linear-gradient(90deg, rgba(167,127,194,1) 0%, rgba(64,154,185,1) 13%, rgba(82,152,109,1) 24%, rgba(29,253,32,1) 29%, rgba(58,152,190,1) 55%, rgba(85,174,64,1) 69%, rgba(213,93,93,1) 84%, rgba(129,112,89,1) 100%, rgba(59,139,212,0.9836309523809523) 100%, rgba(125,154,181,1) 100%, rgba(59,139,212,1) 109%, rgba(59,139,212,0.9836309523809523) 127%, rgba(59,139,212,0.9836309523809523) 131%, rgba(59,139,212,0.9836309523809523) 133%, rgba(59,139,212,0.9836309523809523) 164%, rgba(59,139,212,1) 196%, rgba(59,139,212,0.9836309523809523) 200%);
        padding: 3%;
    }
    .principio{
        background-color: #5acece;

    }
    
    .conten-1{
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 5%;
      padding: 3%;
      

    }

    /*.img2{
        width: 45%;
        height: 28%;
    }*/

    .conten-2{
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5%;
        padding: 3%;
        
    }

    /*.img3{
        width: 45%;
        height: 15%;
    }*/

    .conten3{
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5%;
        padding: 3%;
        
    }
    .caja1{
        border-style: solid;
        color: rgb(41, 7, 73);
        padding: 6%;
        padding-top: 0%;
        width: 40%;

    }
    /*.img4{
        width: 40%;
        height: 28%;
    }*/
    .img1, .img2, .img4 {
        width: 30%;
        height: 20%;
    }
    .img3{
        width: 30%;
        height: 18%;
    }

    .img-x{
        margin-left: 15%;
        position: absolute;
        left: 45%;
        top: 25%;
    
    }

    .x{
        width: 10%;
        height: 18%;
      
    }
    
   
    



}

@media screen and (min-width:1200px){
    body{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        padding: 3%;
    }


    
.inicio{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 34%, rgba(71,6,116,1) 100%);
    text-align: center;
    margin-bottom: 1%;
   

}

.principio-1{
    display: block;
    background-color:rgb(121, 120, 120);
}

.conten3{
    background-color:rgb(121,120,120);
}


.conten-2{
   background-color: rgb(143, 90, 90);
  
   
}
.img-x{
   top: 45% ;
}


.menu{
    width: 5%;
    position: relative;
    left: 92%;
   
   
}

.detalles{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(7, 1, 1);
    padding: 1%;
}

summary{
    color: rgb(4, 34, 32);
}


.linea-prin{
    width: 30%;
    height: 8px;
    margin-bottom: 1px;
    border-style: none;
    background: rgb(167,127,194);
background: linear-gradient(90deg, rgba(167,127,194,1) 0%, rgba(64,154,185,1) 13%, rgba(82,152,109,1) 24%, rgba(29,253,32,1) 29%, rgba(58,152,190,1) 55%, rgba(85,174,64,1) 69%, rgba(213,93,93,1) 84%, rgba(129,112,89,1) 100%, rgba(59,139,212,0.9836309523809523) 100%, rgba(125,154,181,1) 100%, rgba(59,139,212,1) 109%, rgba(59,139,212,0.9836309523809523) 127%, rgba(59,139,212,0.9836309523809523) 131%, rgba(59,139,212,0.9836309523809523) 133%, rgba(59,139,212,0.9836309523809523) 164%, rgba(59,139,212,1) 196%, rgba(59,139,212,0.9836309523809523) 200%);

}

.iniciop{
    color: rgb(5, 35, 37);
    font-style: unset;
    text-align: center;
    font-size: xx-large;

}

.p-h1{
    color: rgb(5, 35, 37);
    font-style: unset;
    text-align: center;
    font-size: xx-large;
}

h1{
    font-size: x-large;
    font-style: unset;
}

.final-img{
    width: 6%;
    height: 5%;
    float: right;
   
   
}
}